Tema 4/ejercicios/ejercicio4.3/enVariosArchivos/assets/ejercicio2.dtd

<!ELEMENT recetas (receta+)>
<!ELEMENT receta (nombre,ingredientes,preparacion)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT ingrediente (nombre-ingrediente)>
<!ELEMENT nombre-ingrediente (#PCDATA)>
<!ELEMENT preparacion (paso+)>
<!ELEMENT paso (#PCDATA)>
<!ATTLIST receta comensal (adultos|niños) #REQUIRED>
<!ATTLIST ingrediente cantidad CDATA #REQUIRED>