Tema 4/ejemplos/DTD_Externo.dtd

<!ELEMENT aviso (de, (para|cc)*,mensajes,direccion?)>
<!ELEMENT de (#PCDATA)>
<!ELEMENT para (#PCDATA)>
<!ELEMENT cc (#PCDATA)>
<!-- <!ELEMENT mensajes (mensaje+)> uno o mas -->
<!ELEMENT mensajes (mensaje+)>
<!ELEMENT mensaje (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!-- <!ATTLIST mensaje tipo ID #REQUIRED> -->
<!ATTLIST mensaje tipo (facebook|whatsapp|x) "facebook">
